<mat-card class="fx-100 fx-85 fx-65 fx-50">
    <form autocomplete="off" novalidate [formGroup]="form" (submit)="save()">
        <mat-card-header>
            <mat-form-field>
                <mat-label>{{ "input.featured-image" | translate }}</mat-label>
                <input
                    #featured_image
                    matInput
                    formControlName="featured_image"
                />

                @if (!form.get("featured_image").valid) {
                    <mat-error>
                        {{ getErrorMessage("url", form) | translate }}
                    </mat-error>
                }
            </mat-form-field>
        </mat-card-header>

        @if (featured_image.value) {
            <app-img-from-url [control]="form.get('featured_image')" />
        }

        <mat-card-content>
            <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
                <mat-form-field>
                    <mat-label>{{ "post.input.title" | translate }}</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="title"
                        tabindex="1"
                    />
                    @if (!form.get("title").valid) {
                        <mat-error>
                            {{ getErrorMessage("title", form) | translate }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <editor
                class="tinymce-editor"
                formControlName="content"
                [init]="tinyMCEconfig"
                tabindex="2"
            ></editor>

            <!-- Favorite fruits -->
            <mat-form-field>
                <mat-chip-grid #fruitList required formControlName="fruits">
                    @for (fruit of user.fruits; track fruit) {
                        <mat-chip-row
                            [removable]="removable"
                            (removed)="remove(fruit)"
                        >
                            {{ fruit }}
                            <button matChipRemove>
                                @if (removable) {
                                    <mat-icon>cancel</mat-icon>
                                }
                            </button>
                        </mat-chip-row>
                    }
                    <input
                        #fruitInput
                        placeholder="Add your favorite fruits"
                        [matChipInputFor]="fruitList"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addFruit($event)"
                        [matAutocomplete]="fruitsAutocomplete"
                        formControlName="fruitInput"
                    />
                </mat-chip-grid>

                <mat-autocomplete
                    #fruitsAutocomplete="matAutocomplete"
                    (optionSelected)="selectFruit($event)"
                >
                    @for (fruit of filteredFruits$ | async; track fruit) {
                        <mat-option [value]="fruit">
                            {{ fruit }}
                        </mat-option>
                    }
                </mat-autocomplete>

                <mat-error>At least 1 fruit need to be added</mat-error>
            </mat-form-field>

            <!-- Submit -->
            <mat-card-actions align="end">
                <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!form.valid && (form.dirty || form.untouched)"
                    tabindex="6"
                >
                    {{ "input.save" | translate }}
                </button>
            </mat-card-actions>
        </mat-card-content>
    </form>
</mat-card>
