<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>{{ "page.login.section" | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
</mat-card> -->

<mat-card class="fx-100 fx-85 fx-65 fx-50">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet. Ut dignissimos maxime qui cumque sunt
            est commodi dolores ad praesentium nobis id officiis cupiditate est
            voluptate nulla At sunt repellat. Qui reprehenderit incidunt et
            nesciunt dolorem vel doloribus sint. Ut numquam tempora ut error
            molestias sit sunt labore ab harum laudantium. Et minus dicta aut
            suscipit veritatis ab tenetur galisum et sunt delectus eum tenetur
            quam eos cumque sint non dolor delectus? Ut placeat veritatis et
            obcaecati nesciunt est excepturi dolores. Qui iure corporis eos
            quaerat odio ea odit aliquam eos quos sunt. Ea facere voluptate aut
            atque optio eos odio inventore vel voluptate optio a doloremque
            totam At facere debitis sit suscipit provident. Est assumenda
            tempore a illum adipisci vel aliquid aliquam!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
