:host {
    display: contents;
}

.grid-container {
    margin: 20px;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    mat-grid-tile-footer {
        .mat-icon {
            overflow: visible;
        }
    }
}
