<div class="grid-container">
    <mat-card>
        <mat-card-title>Grid list with footer</mat-card-title>
        <mat-card-content>
            <mat-grid-list
                [cols]="columns()"
                rowHeight="32rem"
                gutterSize="1rem"
            >
                @for (
                    item of items;
                    track item.id;
                    let i = $index;
                    let first = $first, last = $last
                ) {
                    <mat-grid-tile>
                        <img [alt]="item.title" [src]="item.image" />
                        <mat-grid-tile-footer>
                            <h3 mat-line>{{ item.author.displayName }}</h3>
                            <span mat-line>Human: {{ item.content }}</span>
                            <mat-icon>star_border</mat-icon>
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                } @empty {
                    <li>There are no items.</li>
                }
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
