<mat-list>
    @for (post of list; track post.id) {
    <mat-list-item>
        <img matListItemAvatar [src]="post.author.img" alt="..." />
        <a [routerLink]="['/posts', post.id]">
            <span matListItemTitle>#{{ post.title }}</span>

            <span class="mdc-list-item__secondary-text">{{ post.content }}
            </span>

            <span class="mdc-list-item__secondary-text"><mat-icon class="list-item-line-icon">schedule</mat-icon>
                {{
                post.created_at * 1000
                | amDateFormat: "DD-MM-YYYY HH:mm"
                }}
                |
                <mat-icon class="list-item-line-icon">person_outline</mat-icon>
                {{ post.author.displayName }}
            </span>
        </a>
        <button mat-icon-button color="primary" matListItemMeta (click)="delete(post.id)">
            <mat-icon> delete </mat-icon>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
</mat-list>

<!-- <app-page-actions>
    <button type="button" class="toolbar-btn" mat-icon-button (click)="onSave()">
        <mat-icon>sort</mat-icon>
    </button>
    <button type="button" class="toolbar-btn" mat-icon-button (click)="onSave()">
        <mat-icon>grid_view</mat-icon>
    </button>
    <button type="button" class="toolbar-btn" mat-icon-button (click)="onSave()">
        <mat-icon>view_agenda</mat-icon>
    </button>
</app-page-actions> -->

<app-page-actions>
    <button type="button" class="toolbar-btn" mat-icon-button (click)="onSave()">
        <mat-icon>add</mat-icon>
    </button>
</app-page-actions>