.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
    cursor: pointer;

    .post-list-item-line {
        .mat-icon.list-item-icon {
            vertical-align: sub;
            height: 18px;
            width: 18px;
            margin-right: 2px;
            font-size: 18px;
        }
    }
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
    height: auto; // 78px
}
