mat-list-item {
    height: auto !important;
    img {
        margin: 1rem;
    }

    a {
        text-decoration: none;

        margin: 0.25rem 0;

        display: inline-grid;

        span:nth-child(1) {
            margin: -12px 0;
        }

        mat-icon.list-item-line-icon {
            vertical-align: sub;
            height: 18px;
            width: 18px;
            margin-right: 2px;
            font-size: 18px;
        }
    }

    button {
        display: flex;
        align-self: center;
    }
}
