<mat-list>
    @for (post of list; track post.id) {
        <mat-list-item>
            <img matListItemAvatar [src]="post.author.img" alt="..." />
            <a [routerLink]="['/posts', post.id]">
                <span matListItemTitle>#{{ post.id }} - {{ post.title }}</span>

                <span matListItemLine>{{ post.content }} </span>

                <span matListItemLine
                    ><mat-icon class="list-item-line-icon">schedule</mat-icon>
                    {{
                        post.created_at * 1000
                            | amDateFormat: "DD-MM-YYYY HH:mm"
                    }}
                    |
                    <mat-icon class="list-item-line-icon"
                        >person_outline</mat-icon
                    >
                    {{ post.author.displayName }}
                </span>
            </a>
            <button
                mat-icon-button
                color="primary"
                matListItemMeta
                (click)="delete(post.id)"
            >
                <mat-icon> delete </mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
    }
</mat-list>
