<mat-card class="fx-100 fx-85 fx-65 fx-50">
    <mat-card-header>
        <div
            mat-card-avatar
            class="card-header-avatar"
            [ngStyle]="{
                background: ' url(' + post()?.author.img + ')  no-repeat 0 0'
            }"
        ></div>

        <div class="card-header-text">
            <mat-card-title>{{ post()?.title }}</mat-card-title>
            <mat-card-subtitle>
                <time>
                    {{
                        post()?.created_at * 1000
                            | amDateFormat: "DD-MM-YYYY HH:mm"
                    }}
                    (
                    {{ created_at() | timeago }}
                    )
                </time>
            </mat-card-subtitle>
        </div>

        <div>
            <button mat-icon-button (click)="bookmarkToogle()">
                <mat-icon color="primary" [fontSet]="'material-icons-outlined'"
                    >{{ bookmarked() ? "bookmark" : "bookmark_add" }}
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <figure>
        <img mat-card-image [src]="post()?.featured_image" />
    </figure>

    <mat-card-content>
        <div [innerHTML]="post()?.content | sanitize"></div>
    </mat-card-content>

    <mat-divider class="inset"></mat-divider>

    <mat-card-actions align="start">
        <mat-chip-listbox>
            @for (tag of post()?.tags; track tag) {
                <mat-chip>{{ tag }}</mat-chip>
            }
        </mat-chip-listbox>
    </mat-card-actions>
</mat-card>

<fab-page-action
    [data]="{ link: '/posts/' + this.id() + '/edit', icon: 'edit' }"
/>
