<mat-card class="example-card">
    <mat-card-header> </mat-card-header>
    <form autocomplete="off" novalidate [formGroup]="form" (submit)="save()">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-grid #chipGrid formArrayName="fruits">
                    @for (
                        fruit of fruits.controls;
                        track fruit;
                        let i = $index
                    ) {
                        <mat-chip-row (removed)="remove(i)">
                            {{ fruit.value }}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    }
                </mat-chip-grid>

                <input
                    (matChipInputTokenEnd)="add($event)"
                    placeholder="New Fruit..."
                    [matChipInputAddOnBlur]="addOnBlur"
                    #fruitInput
                    [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto"
                />
                <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                >
                    @for (fruit of filteredFruits | async; track fruit) {
                        <mat-option [value]="fruit">{{ fruit }}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <!-- Submit -->
            <div class="button-wrapper">
                <button mat-flat-button color="primary">Submit</button>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions align="end">
            <button
                type="submit"
                color="primary"
                mat-raised-button
                [disabled]="!form.valid && (form.dirty || form.untouched)"
            >
                SAVE
            </button>
        </mat-card-actions>
    </form>
    <mat-card-footer>
        <pre>{{ form.value | json }}</pre>
    </mat-card-footer>
</mat-card>
