:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

mat-card {
    border-radius: 1rem;
    margin: 0.5rem;

    mat-card-content img {
        p {
            display: flex;
        }
    }

    mat-form-field {
        width: 100%;
        margin: 0.5rem 0;
    }

    mat-card-actions {
        padding: 1rem;
        flex-direction: column;
    }
}
