// OPCION 1.
// en cada pages>componente poner esta regla "host"
// :host {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// OPCION 2
// en APP.scss
// <div class="horizontally-centered-content">
// <router-outlet></router-outlet>
// </div>

mat-card {
    max-width: 500px;

    mat-form-field {
        width: 100%;
        margin-top: 0.5rem;
    }
}
