<mat-card
    data-flex-sm="90"
    data-flex-md="65"
    data-flex-gt-md="50"
    data-flex="100"
>
    <form autocomplete="off" novalidate [formGroup]="form" (submit)="save()">
        <mat-card-header data-layout-align="center">
            <mat-card-title>
                {{
                    "page.forgotten-password.title" | translate
                }}</mat-card-title
            >
        </mat-card-header>

        <mat-card-content>
            <p data-layout-align="center">
                {{ "page.forgotten-password.content" | translate }}
            </p>
            <mat-form-field>
                <input
                    autofocus
                    matInput
                    [placeholder]="'input.email' | translate"
                    name="email"
                    formControlName="email"
                />

                @if (form.get("email")?.invalid) {
                    <mat-error>{{
                        getErrorMessage("email", form) | translate
                    }}</mat-error>
                }
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
            <button
                type="submit"
                color="primary"
                mat-raised-button
                [disabled]="!form.valid && (form.dirty || form.untouched)"
            >
                {{ "input.accept" | translate }}
            </button>
        </mat-card-actions>
    </form>
</mat-card>
