<app-nav-toolbar
    [isMobile]="isMobile()"
    [drawer]="drawer"
    *isVisible="!isMobile()"
/>

<mat-sidenav-container [ngClass]="isMobile() ? 'is-mobile' : ''">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [fixedTopGap]="isMobile() ? '0' : '64'"
        [attr.role]="isMobile() ? 'dialog' : 'navigation'"
        [mode]="isMobile() ? 'over' : 'side'"
        [opened]="isMobile() === false"
    >
        @if (isMobile()) {
            <app-sidenav-header (click)="close()" />
        }

        <app-sidenav-body (click)="close()" />
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav-toolbar
            [isMobile]="isMobile()"
            [drawer]="drawer"
            *isVisible="isMobile()"
        />

        <!-- Add Content Here -->

        <div class="horizontally-centered-content">
            <router-outlet></router-outlet>
        </div>

        <app-fab-scroll-to-top />
    </mat-sidenav-content>
</mat-sidenav-container>
