@if (!isMobile()) {
    <app-nav-toolbar [drawer]="drawer" />
}
<mat-sidenav-container>
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [fixedTopGap]="isMobile() ? 0 : 64"
        [attr.role]="isMobile() ? 'dialog' : 'navigation'"
        [mode]="isMobile() ? 'over' : 'side'"
        [opened]="isMobile() === false"
        (click)="close()"
    >
        @if (isMobile()) {
            <app-sidenav-header [drawer]="drawer" />
        }

        <app-sidenav-body (click)="close()" />
    </mat-sidenav>

    <mat-sidenav-content>
        @if (isMobile()) {
            <app-nav-toolbar [drawer]="drawer" />
        }

        <!-- Add Content Here -->

        <router-outlet></router-outlet>

        <app-fab-scroll-to-top />
    </mat-sidenav-content>
</mat-sidenav-container>
