:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

mat-card {
    border-radius: 1rem;
    margin: 0.5rem;

    width: 28rem;

    mat-card-title {
        display: flex;
        width: max-content;
    }

    mat-form-field {
        width: 100%;
    }

    figure {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            align-self: center;
            height: 15rem;
        }

        figcaption {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // z-index: 99;
            background: color-mix(in srgb, var(--mat-option-selected-state-label-text-color) 20%, transparent) !important;

            button {
                align-self: center;
            }
        }
    }

    mat-card-actions {
        padding: 1rem;
    }

    mat-card-footer {

        >* {

            overflow-x: auto;
        }
    }
}