:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

mat-card {
    border-radius: 1rem;
    margin: 0.5rem;

    width: 30rem;

    mat-card-title {
        display: flex;
        width: max-content;
    }

    mat-form-field {
        width: 100%;
    }

    mat-card-actions {
        padding: 1rem;
    }

    mat-card-footer {
        > * {
            overflow-x: auto;
        }
    }
}
