<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form autocomplete="off" novalidate [formGroup]="form" (submit)="save()">
        <mat-card-content>
            <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input
                        type="email"
                        matInput
                        formControlName="email"
                        placeholder="Ex. example@domain.com"
                        tabindex="1"
                    />
                    @if (form.get("email")?.invalid) {
                        <mat-error>{{
                            getErrorMessage("email", form)
                        }}</mat-error>
                    }
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    matInput
                    formControlName="password"
                    [type]="hide() ? 'password' : 'text'"
                    tabindex="2"
                />

                <mat-icon
                    matSuffix
                    visibilityPasswordIcon
                    (onChange)="hide.set($event)"
                ></mat-icon>

                @if (form.get("password")?.invalid) {
                    <mat-error>{{
                        getErrorMessage("password", form)
                    }}</mat-error>
                }
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                color="primary"
                mat-raised-button
                [disabled]="!form.valid && (form.dirty || form.untouched)"
                tabindex="3"
            >
                Submit
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <pre>{{ form.value | json }}</pre>
        </mat-card-footer>
    </form>
    <div class="auth-options">
        <a
            mat-stroked-button
            color="primary"
            routerLink="/auth/register"
            tabindex="4"
        >
            REGISTRARSE
        </a>
        <a
            mat-stroked-button
            color="primary"
            routerLink="/auth/forgotten-password"
            tabindex="5"
        >
            CONTRASEÑA OLVIDADA
        </a>
    </div>

    <div class="or-divider">
        <mat-divider></mat-divider>
        <span> OR </span>
        <mat-divider></mat-divider>
    </div>

    <div class="social-section">
        <button
            mat-stroked-button
            mat-raised-button
            (click)="socialLogin('google.com')"
            class="social-button"
            tabindex="6"
        >
            <mat-icon><i class="fa-brands fa-google"></i></mat-icon>
            Google
        </button>
        <button
            mat-stroked-button
            mat-raised-button
            (click)="socialLogin('facebook.com')"
            class="social-button"
            tabindex="7"
        >
            <mat-icon><i class="fa-brands fa-facebook"></i></mat-icon>
            Facebook
        </button>
        <button
            mat-stroked-button
            mat-raised-button
            (click)="socialLogin('github.com')"
            class="social-button"
            tabindex="8"
        >
            <mat-icon><i class="fa-brands fa-github-alt"></i></mat-icon>
            Github
        </button>
    </div>
</mat-card>
