<mat-card>
    <mat-card-header>
        <div
            mat-card-avatar
            class="card-header-avatar"
            [ngStyle]="{
                background: ' url(' + item()?.author.img + ')  no-repeat 0 0'
            }"
        ></div>
        <mat-card-title>{{ item()?.title }}</mat-card-title>
        <mat-card-subtitle>{{ item()?.createdAt }}</mat-card-subtitle>

        <span class="flex-spacer"></span>
        <div>
            <button mat-icon-button (click)="bookmarkToogle()">
                <mat-icon color="primary" [fontSet]="'material-icons-outlined'"
                    >{{ bookmarked() ? "bookmark" : "bookmark_add" }}
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <!-- <img mat-card-image [ngSrc]="item()?.featured_image" height="240" width="400"/> -->
    <img mat-card-image [src]="item()?.featured_image" />

    <mat-card-content>
        <div [innerHTML]="item()?.content | sanitize"></div>
    </mat-card-content>

    <mat-divider class="inset"></mat-divider>

    <mat-card-actions>
        <mat-chip-listbox>
            @for (tag of item()?.tags; track tag) {
                <mat-chip>{{ tag }}</mat-chip>
            }
        </mat-chip-listbox>
    </mat-card-actions>
</mat-card>

<fab-page-action
    [data]="{ link: '/posts/' + this.id() + '/edit', icon: 'edit' }"
/>
