:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

mat-card {
    display: flex;
    border-radius: 1rem;

    mat-card-title {
        display: flex;
        width: max-content;
    }

    mat-card-content img {
        max-width: 100%;
    }

    .card-header-avatar {
        background-size: cover !important;
    }

    .mdc-card__media {
        align-self: center;
    }

    mat-card-actions {
        padding: 1rem;
    }
}
