<!-- <mat-toolbar color="primary" class="mat-elevation-z8" [ngStyle]="{'z-index':drawer.opened  ? '1' : '2' }"> -->
<mat-toolbar color="primary" class="mat-elevation-z8">
    @if (isMobile) {
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
        >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    }
    <span>Angular Material Schematics by Fran</span>
    <span class="flex-spacer"></span>

    @if (!isMobile) {
        <app-btn-profile />
    }
</mat-toolbar>
