<!-- <mat-toolbar color="primary" class="mat-elevation-z8" [ngStyle]="{'z-index':drawer.opened  ? '1' : '2' }"> -->
<mat-toolbar color="primary" class="mat-elevation-z8">
    <btn-menu [drawer]="drawer()" />

    <span>AMS by Fran</span>
    <span class="flex-spacer"></span>

    <!-- CDK PORTAL -->
    <div id="action">
        <!-- content will be placed dynamically via Cdk Portal -->
        <!-- <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template> -->
    </div>

    <btn-language-selector />

    <app-btn-profile />
</mat-toolbar>
