<mat-list>
    @for (item of list; track item) {
        <mat-list-item>
            <img matListItemAvatar [src]="item.image" alt="..." />
            <a routerLink="/profile">
                <h4 matListItemTitle routerLink="/profile">{{ item.title }}</h4>
                <span matListItemLine>{{ item.content }} </span>
                <span matListItemLine
                    >{{ item.created_at }} - {{ item.author.displayName }}
                </span>
            </a>
            <button
                mat-icon-button
                color="primary"
                matListItemMeta
                [matMenuTriggerFor]="itemMenu"
            >
                <mat-icon> more_vert </mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
    }
</mat-list>

<mat-menu #itemMenu="matMenu">
    <button mat-menu-item>Delete</button>
</mat-menu>